:root {
    --ps-text-b: #1f1f1f;
    --ps-text-w: #ffffff;
    --ps-bg-dark: #121314;
    --ps-bg-gray: #b8bcc4;
    --ps-bg-blue: #11152d;
    --ps-gray: #d0d1d4;
    --ps-blue: #0070cc;
    --ps-black: #000000;
    --ps-red: #D53B00;

}

/********* GENERAL SETTING ******/
html, body {font-family: Arial, Helvetica, sans-serif;}
a {text-decoration: none;}
img {width: 100%;}

/*********** BUTTON STYLE **********/
.ps__button {
    color: var(--ps-text-w);
    padding: 5px 15px;
    border-radius: 30px;
    border: none;
}

.ps__button.primary {
    background-color: var(--ps-black);
}

.ps__button.primary:hover {
    outline: 2px solid var(--ps-black);
    outline-offset: 2px;
}

.ps__button.alert {
    background-color: var(--ps-red);
}

.ps__button.alert:hover {
    outline: 2px solid var(--ps-red);
    outline-offset: 2px;
}

.ps__button.blue--button {
    background-color: var(--ps-blue);
}

.ps__button.blue--button:hover {
    outline: 2px solid var(--ps-blue);
    outline-offset: 2px;
}

.ps__button.gray--button {
    background-color: var(--ps-gray);
    color: var(--ps-blue);
}

.ps__button.white--button {
    background-color: var(--ps-text-w);
    color: var(--ps-text);
}

/******************************
            HEADER
******************************/

/* top bar  */
.top__navbar__logo {
    background-color: var(--ps-black);
    height: 35px;
}

.top__navbar__logo img {
    width: 90px;
}

/* nav bar  */
.bg-light {
    background-color: var(--ps-text-w) !important;
}

.logo {
    width: 50px;
}

.dropdown {
    position: static;
}

.dropdown-toggle::after {
    border: 0;
    vertical-align: unset;
    content: url("../img/chevron-down-solid.svg");
    width: 12px;
    transition: all .2s ease-in-out;

}

.dropdown-toggle.show::after {
    content: url("../img/chevron-down-solid-hover.svg");
    transition: all .2s ease-in-out;
    transform: rotate(180deg);
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

.dropdown-menu.show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.ps__navbar__ico {
    width: 34px;
}
/******************************
        HERO SECTION
******************************/
.hero__section {
    color: var(--ps-text-w);
    width: 100vw;
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

/******************************
        CARD SECTION
******************************/
.card--rounded {
    border-radius: 15px;
}

.card__thumb:hover {
    border-radius: 15px;
    outline: 2px solid var(--ps-blue);
    outline-offset: 2px;
}

/******************************
        PS5 SECTION
******************************/
.ps5__section h6 {
    color: var(--ps-blue);
}

.ps5__section__card:hover {
    border-bottom: 2px solid var(--ps-blue);
}

/******************************
        MEDIA-BLOCK SECTION
******************************/
.media__block__bg {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/******************************
        NEW RELESES SECTION
******************************/
.new__releses {
    background-color: var(--ps-bg-dark);
    color: var(--ps-text-w);
}

.ps__card {
    border: unset;
}

.ps__card__body {
    padding: unset;
}

/******************************
    PS PLUS SECTION  
******************************/
.ps__plus__section {
    background-color: var(--ps-bg-gray);
}

/******************************
    PS NOW SECTION  
******************************/
.ps__now__section {
    background-color: var(--ps-bg-blue);
}

.ps__now__text {
    color: var(--ps-text-w);
}

/******************************
    FOOTER  
******************************/
footer {
    background-color: var(--ps-blue);
}